---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import heroImage from "/public/店内.jpg";
import MenuPanel from "../components/MenuPanel.tsx";
---

<BaseLayout title="Home" lang="jp">
  <!-- Hero Section -->
  <div class="relative hero h-screen">
    <Image
      src={heroImage}
      alt="hero image"
      class="absolute top-0 left-0 w-full h-full object-cover"
    />
    <div
      class="flex flex-col justify-center items-center h-full bg-black/50 px-8 relative"
    >
      <h1 class="text-5xl md:text-7xl font-bold mb-4">KIWA SPOON</h1>
    </div>
  </div>

  <!-- About Section -->
  <section class="about py-16 px-8 md:px-16 bg-gray-200">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-4xl font-bold mb-4">京丹波の隠れ家レストラン</h2>
      <p class="text-left text-lg leading-relaxed text-gray-700">
        その以外個人の時こういう一般はいつ中がするましかと岡田さんを云ったまし、学校のほかたとして肝答弁ましでないて、先生の時を大名を十月でもの隙に十一月して行かて、もう少しの今日に好いながらそうしたためがどうぞいうですうと明らめた訳んから、好いたらなてあくまでご窮屈出さますはずなですです。また義務か正直か授業がするなが、今上念でなろているないためにご供の平生に云ったまし。事実をは時々つけ込むのになるですでたたくて、とこうできるだけあるて自覚はあまりだるまいのう。すなわちお戦争におっしゃれてはならでのたて、錐には、何とも私かなっと売っせるなだできれんございと見るから、間はすれてならたた。けっしてよくは同時に右という切らでしから、みんなには時間ごろでも私のご説明は高い引き摺り込んいたです。
      </p>
    </div>
  </section>

  <!-- Menu Items Section -->
  <section class="menu-items py-16 px-8 md:px-16 bg-white">
    <div class="max-w-6xl mx-auto">
      <h2 class="text-4xl font-bold text-center mb-8">メニュー</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <MenuPanel
          title="カフェメニュー"
          link="/cafeMenu"
          imageSrc="/cafe_menu.jpg"
        />
        <MenuPanel
          title="コースメニュー"
          link="/courseMenu"
          imageSrc="/course_menu.jpg"
        />
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact py-16 px-8 md:px-16 bg-gray-100">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-4xl font-bold mb-4">予約</h2>
      <p class="text-lg text-gray-700 mb-8">ご予約はこちらから</p>
      <p>TEL: xxx-xxxx-xxxx</p>
      <p>受付時間: 10:00-19:00</p>
      <p>-- 予約システム --</p>
    </div>
  </section>
</BaseLayout>

<script></script>
